.form-input {
  &_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 19px;

    &__input {
      padding: 12px 16px 12px 16px;
      border-color: transparent;
      border-radius: 8px;
      font-weight: 400;
      font-size: 21px;
      color: rgba(160, 160, 160, 1);
    }
  }
}
.form-button {
  padding-top: 48px;

  &__button {
    border-radius: 8px;
    font-weight: 400;
    font-size: 21px;
    background-color: rgba(115, 123, 225, 1);
    color: white;
    border: none;
    padding: 12px 18px 12px 18px;
  }
}

@media (max-width: 1060px) {
  .form-button {
    padding-top: 36px;
  }
}
