* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input {
  outline: 0;
  outline-offset: 0;
}