.footer-container {
  background-color: rgba(79, 88, 201, 1);
}

.footer-content {
  padding: 64.5px 0 64.5px;
  display: flex;
  justify-content: space-between;

  &__title {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
  }
}